body {
    margin: 25px 75px;
}
#battleship {
    font-family: Arial, sans-serif;
}
#volley {
    padding: 6px 10px;
}
#result {
    margin-left: 20px;
    font-size: 18px;
}
#board {
    margin-top: 25px;
}
td {
    width: 32px;
    height: 32px;
    font-size: 11px;
    text-align: center;
    border: 1px solid black;
    color: #888;
}
.ship {
    background-color: #CCC;
}
.miss {
    background-color: #6CF;
    background-image: url("water.png");
    background-size: 32px 32px;
}
.hit {
    background-color: #F00;
    background-image: url("explosion.png");
    background-size: 32px 32px;
}
